@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web



@{ var root = Model.Content.Site(); }


@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }


@if (selection.Length > 0)
{

  
    <ul class="nav navbar-nav">
     
        @foreach (var item in selection)
        {
            if (item.Children.Where(x => x.IsVisible()).Count() > 0)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"   >@item.Name
                    <span class="caret"> </span></a>
                    <ul class="dropdown-menu navbar-link">
                        @foreach (IPublishedContent subMenuItem in item.Children.Where(x => x.IsVisible()))
                        {
                            if (subMenuItem.DocumentTypeAlias == "projectItem") 
                            { 
                                if ( umbraco.library.GetPreValueAsString(subMenuItem.GetPropertyValue<int>("projectStatus")) == "Completed")
                                {
                                //Show sub menu item
                                 <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                                        <a href="@subMenuItem.Url">@subMenuItem.Name</a>
                                    </li>
                                }
                            }   
                            else
                            {
                                //Show sub menu item
                                <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                                        <a href="@subMenuItem.Url">@subMenuItem.Name</a>
                                    </li>
                            }
                        }
                    </ul>
                </li>

            }
            else
            {
                <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                    <a href="@item.Url">@item.Name</a>
                </li>
            }

        }
      
           
        
    </ul>
 
}